/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./src/app/components/menu/menu.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin:0;
    padding: 0;
    background-image: url("https://i.pinimg.com/originals/2e/a7/d1/2ea7d1d46e1d2284314b44761ffc421a.png");
    height: 100px;
  }
  
  .Itens-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:20px;
    padding: 0px;
  }
 
  .Itens-menu a{
    color:white;
    text-decoration:none;
    border: 2px solid white;
    padding: 5px 5px;
    border-radius: 15px;
    width: 100%;
    margin:10px;
    font-family: 'Space Mono', monospace;
    font-size:24px;
    margin-top: 0px;
  }
  
  .Logo h1{
    color:white;
    font-family: 'Spaced';
    margin-left: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 50px;
  }
  .Logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-right: 220px;
  }
  .Logo img{
    margin:0px;
  }
  @media (max-width:425px){
    .Logo h1{
      font-size: 20px;
      margin:10px;
      margin-left: 10px;
      padding: 10px;
    }
    .Menu{
      margin: 0px;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-size: 100%;
      max-width: 425px;
      
    }
    .Itens-menu {
      font-size: 10px;
      margin:0px;
      padding: 0px;
    }
  }
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./src/app/components/services/services.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.Services{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    
  }
  .Services h3{
    color:white;
    font-family: 'Space Mono', monospace;
    margin:30px;
    display: flex;
    justify-content: space-around;
  }
  .Services p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
  }
  
  .Segurity{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Old{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Commerce{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Outro{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (max-width:425px){
    .Services{
      display: flex;
      flex-direction: row;
      width: 425px;
    }
    .Primeiro{
      margin: 0px;
      padding: auto;
    }
  }
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./src/app/components/footer/footer.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.Form{
    display:flex;
    width:50%;
    margin:10px auto;
    justify-content: end;
    align-items: end;

  }
  
  .Form h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
  }
  
  .Itensform{
    margin:0 auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }
  .Itensform input[type=text]{
    width: 50%;
    height:30px;
    margin:10px 0px;
    border:3px solid white;
    border-radius: 8px;
    background-image: url("https://i.pinimg.com/originals/2e/a7/d1/2ea7d1d46e1d2284314b44761ffc421a.png");
    font-family:'Space Mono', monospace; 
  }
  
  .Itensform input[type=submit]{
    width: 100%;
    margin:8px;
    height: 50px;
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    border:3px solid white;
    border-radius: 10px;
    color:white;
    background-image: url("https://i.pinimg.com/originals/2e/a7/d1/2ea7d1d46e1d2284314b44761ffc421a.png");
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .Message{
    width: 100%;
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .Message input[type=text]{
    width: 100%;
    margin:0px;
    height: 120px;
    font-size: 20px;
  }
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./src/app/components/about/about.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.About{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:start;
    justify-content: space-between;
    background-image: url("https://i.pinimg.com/originals/2e/a7/d1/2ea7d1d46e1d2284314b44761ffc421a.png");

}
.About p{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content:left;
    margin: 20px;
}
.About h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    font-size: 40px;
}
.Valores ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Valores li{
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./src/app/components/banner/banner.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/

.top{
    color: #141b29;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 50px;
    -webkit-text-emphasis-color: white;
            text-emphasis-color: white;
    background: url("/_next/static/media/SPACE TEC_auto_x2 (1).c93f91b2.jpg");
    width: 100%;
    height: 150px;
    min-height: 500px;  
    background-size:cover; 
    background-attachment: fixed; 
}
.Botao{
    position: absolute;
    left: 60%;
    bottom: 30%;
    display: flex;
    justify-content:end;
    color:white;
    text-decoration:none;
    border: 2px solid white;
    padding: 5px 5px;
    height: 80px;
    border-radius: 15px;
    margin:10px;
    font-family: 'Space Mono', monospace;
    font-size:50px;
    margin-top: 5px;
}
.titulo{
    position:absolute;
    bottom:65%;
    left: 40%;
    
}
@media (max-width:425px){
    .top{
        width: 425px;
        height:20px;
        background-size:1500px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loja{
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        text-decoration:none;
        border: 2px solid white;
        padding: 5px 5px;
        border-radius: 15px;
        width: 100px;
        height: 50px;
        margin:0;
        font-family: 'Space Mono', monospace;
        font-size:24px;
        margin-top: 10px;
        background-image: url("https://i.pinimg.com/originals/2e/a7/d1/2ea7d1d46e1d2284314b44761ffc421a.png");
    }
    .titulo{
        font-size:medium;
    }
  }
